
.css-pdld14 {
    line-height: 1em !important;
}
@media (max-width: 768px){
    .css-18ayxda{
        flex-wrap: wrap;
        gap: 20px;
    }
    .css-y8uecl .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
        padding-left: 3px !important;
    }
    .MuiAutocomplete-hasPopupIcon.css-y8uecl .MuiOutlinedInput-root{
        padding-right: 15px !important;
    }
    .css-lfa68k {
        text-align: center;
    }
    .css-pedg2t {
        margin-left: 10px !important;
    }
}
.css-1uhkb2 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.css-ukickz {
    margin-bottom: 0px !important;
}
.css-zsajsa {
    right: 6px !important;
}
.css-gna9mu {
    justify-content: space-between !important;
    align-items: flex-start !important;
}
.css-kbq71j{
    width: 100% !important;
}
.css-1lhg0sk {
    margin-left: 10px !important;
}
 .mb_mibitcoin_casa .tk_yellow span {
     height: 26px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
     background-color: yellow;
 }
 .mb_mibitcoin_casa .tk_yellow span i {
      display: none; }
.css-et5q3z {
    top          : 0px !important;
    border-radius: 0px 0px 10px 10px !important;
}
.css-1wfcjvv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 0px;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-row.css-iv3pi7{
    justify-content: center;
    gap: 120px;
}
.css-1m6uqfu{
    width: 100% !important;
    height: fit-content !important;
    padding: 10px 0px !important;
}
.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.css-208sy0 {
    box-shadow: none !important;
}
.css-177xvbk{
    gap: none !important;
}
.css-12qq0qi {
    width: 250px;
}
.css-1116vy {
    display: flex;
    justify-content: flex-start;
}
.css-1klpoq2 {
    display: flex;
    justify-content: space-between;
}