.mb_pricing_membership_area{
    .tk_individuals_content,
.tk_agents_content {
  display: none;
}

.tk_individuals_content.active,
.tk_agents_content.active {
  display: block;
}
    .tk_pricing_tap{
        border: 1px solid rgba(3, 26, 38, 0.1);
        border-radius: 50px;
        width: fit-content;
        height: 54px;
        padding: 0px 5px;
        background: #ffeed8;
        margin-bottom: 30px;
        @include flex(row, flex-start, center);
        button{
            border-radius: 100px;
            padding: 0px 20px;
            height: 44px;
            background: transparent;
            border: none;
            &.active{
                background-color: #fff;
            }
        }
    }
    .mb_pricing_card{
        border: 1px solid $border;
        border-radius: 10px;
        width: 100%;
        height: 100%;

        .mb_card_heading{
            border-radius: 10px 10px 0 0;
            background: #ffeed8;
            padding: 30px 30px 32px 40px;
            @include xxs {
                padding: 30px 30px;
            }
            h4{
                font-weight: 600;
                font-size: 24px;
                color: $text_color;
                @include xxs {
                    font-size: 20px;
                }
            }
            h3{
                font-weight: 700;
                font-size: 34px;
                color: $text_color;
                @include xxs {
                    font-size: 30px;
                }
                span{
                    font-weight: 500;
                    font-size: 15px;
                    margin-left: 8px;
                    @include xxs {
                        font-size: 14px;
                    }
                }
            }
        }
        .mb_card_body{
            padding: 20px 44px;
            @include xxs {
                padding: 30px 30px;
            }
            h4{
                font-weight: 600;
                font-size: 24px;
                color: $text_color;   
                @include xxs {
                    font-size: 20px;
                }
            }
            p{
                font-weight: 500;
                font-size: 16px;
                color: $text_style2;
                height: 68px;
                border-bottom: 1px solid rgba(3, 26, 38, 0.12);
                margin-top: 10px;
                @include xxs {
                    font-size: 14px;
                }                
            }
            .btn_wrappeer{
                margin-top: 40px;
                a{
                    width: 100%;
                    display: block;
                    text-align: center;
                    padding: 15px;
                    background-color: $text_color;
                    @include border-radius(6px);
                    font-weight: 600;
                    font-size: 16px;
                    color: $white;
                    @include transition(0.4s);
                    &:hover{
                        background-color: $primary;
                    }
                }
            }
            .mb_service_list{
                margin-top: 30px;
                ul{
                    
                    li{
                        @include flex(row, flex-start, flex-start);
                        gap: 11px;
                        font-weight: 500;
                        font-size: 16px;
                        color: $text_style3;
                        margin-bottom: 20px;

                    }
                }
            }
        }
    }
}